<div class="row logline" *ngIf="inject && line.player.motion">
  <div class="col-2">
    <span><strong>{{line.date | date:'d MMM yy, HH:mm:ss'}}</strong></span>
  </div>
  <div class="col-2">
    <span>{{line.process}}</span>
  </div>
  <div class="col-2 text-center" [ngClass]="{'lil': line.player.nickname.length>=8}">
    <span><strong>{{line.player.nickname}}</strong></span>
    <span *ngIf="(options.options | async)?.idnick"><strong> {{line.player.id}}</strong></span>
  </div>
  <div class="col-6">
    <div class="row w-100">
      <ng-template #notparsed>
        <span>{{line.player.motion}}</span>
      </ng-template>
      <!--PLAYER__INFO-->
      <span *ngIf="line.process===processes.player_info.on.id">
        <span class="badge badge-info mr-1 mt-1">ИНФО</span><strong>Цель:</strong> {{line.player.motion}}
      </span>
      <!--MUTE-->
      <div
      class="alert alert-light mb-0"
      role="alert"
      *ngIf="line.process===processes.mute.on.hand">
        <span>
          <span class="badge badge-info mr-1">РУЧНАЯ ЗАГЛУШКА</span><br>
          <kbd class="mr-1">{{line.player.motion[1]}} минут</kbd>
          <strong>Вызвано админом {{line.player.motion[2]}}</strong> по причине :<br>
          <span>{{line.player.motion[4] | banReasons}}</span>
        </span>
      </div>
      <!--CHECK-->
      <span *ngIf="line.process===processes.check.explode.vehicle || line.process===processes.check.explode.player">
        <span class="badge badge-info mr-1">ПРОВЕРКА ВЗРЫВОМ</span><strong>Вызвано:</strong> {{line.player.motion}}
      </span>
      <div class="col-12 no-padding" *ngIf="line.process===processes.check.silent.vehicle || line.process===processes.check.silent.player">
        <div class="row">
          <div class="col-4 p-0">
            <span class="badge badge-info mr-1">ТИХАЯ ПРОВЕРКА</span>
          </div>
          <div class="col-6 p-0">
            <table class="table table-borderless mb-0 text-center table-striped">
              <tbody>
                <tr>
                  <th class="p-0" scope="row">Вызвано админом</th><td class="p-0">{{line.player.motion[1]}} {{line.player.motion[2]}}</td>
                </tr>
                <tr>
                  <th class="p-0" scope="row">Снято</th><td class="p-0">{{line.player.motion[4]}}</td>
                </tr>
                <tr>
                  <th class="p-0" scope="row">Было</th><td class="p-0">{{line.player.motion[5]}}</td>
                </tr>
                <tr>
                  <th class="p-0" scope="row">Стало</th><td class="p-0">{{line.player.motion[6]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--BAN-->
      <span *ngIf="line.process===processes.ban.unbanip.hand">
        <span class="badge badge-info">РУЧНОЙ РАЗБАН</span> IP: {{line.player.motion}}
      </span>
      <div
      *ngIf="line.process==processes.connection.disconnect.ban || line.process==processes.connection.disconnect.kick || line.process==processes.connection.disconnect.rconkickban" class="alert w-100 banhammer_report"
      [ngClass]="{'alert-danger': line.process==processes.connection.disconnect.ban, 'alert-warning': line.process==processes.connection.disconnect.kick || line.process==processes.connection.disconnect.rconkickban}"
      role="alert">
        <small class="mr-1">#ОТЧЕТ СИСТЕМЫ</small>
        <strong *ngIf="line.process==processes.connection.disconnect.ban">БАН</strong>
        <strong *ngIf="line.process==processes.connection.disconnect.kick">КИК</strong>
          <strong *ngIf="line.process==processes.connection.disconnect.rconkickban">RCON КИКБАН</strong>
        <br>
        <span *ngIf="line.process!==processes.connection.disconnect.rconkickban; else rconkickban" class="mb-1">
          <kbd>
            <span *ngIf="line.process==processes.connection.disconnect.kick">Кикнут</span>
            <span *ngIf="line.process==processes.connection.disconnect.ban">Забанен</span> админом <strong>{{line.player.motion[0]}}</strong> по причине <strong>{{line.player.motion[2]}}</strong></kbd>
          <br>
          {{line.player.motion[2] | banReasons}}
        </span>
        <ng-template #rconkickban>
          <span><kbd>RCON</kbd> Игрок кикнут или забанен</span>
        </ng-template>
        <hr>
        <app-geoseries [geoseries]="line.player.geo"></app-geoseries>
      </div>
      <!--SPECTATE-->
      <span *ngIf="line.process===processes.spectate.start || line.process===processes.spectate.change || line.process===processes.spectate.stop || line.process===processes.spectate.spawn">
        <span class="badge badge-info mr-1 mt-1">СЛЕЖКА
          <span *ngIf="line.process===processes.spectate.stop">ОСТАНОВЛЕНА</span>
          <span *ngIf="line.process===processes.spectate.spawn">: СПАВН</span>
        </span>
        <ng-template #nosleep>{{line.player.motion}}</ng-template>
        <span *ngIf="line.process===processes.spectate.stop else nosleep">{{line.player.motion | sleep}}</span>
      </span>
      <!--FREE-FOR-ALL-->
      <span *ngIf="line.process===processes.free_for_all.spawn">
        <span class="text-success">ИГРОК ЗАСПАВНЕН</span> {{line.player.motion}}
      </span>
      <div class="pb-1" *ngIf="line.process===processes.auth.ok">
        <span class="badge badge-info mt-1">
          АВТОРИЗАЦИЯ
        </span><br>
        <span><kbd>{{line.player.motion}} | {{line.player.motion.split(' ')[1] | adms}}</kbd></span>
      </div>
      <span class="colorset" *ngIf="line.process===processes.player_color.init || line.process===processes.player_color.set">Смена цвета {{line.player.motion[1]}}<i class="colory" [ngStyle]="{'background': '#' + line.player.motion[2]}"></i>{{line.player.motion[3]}}</span>
      <span *ngIf="line.process===processes.chat.msg">
      {{line.player.motion}}</span>
        <div *ngIf="line.process===processes.acheat.block.weapon.id" class="alert alert-danger w-100">
          <span>
          <strong class="red">{{line.player.nickname}} заблокирован за спавн оружия: </strong>{{line.player.motion[1]}}<img class="d_reason" src="../assets/reasons/Weapon-{{line.player.motion[1]}}.gif" /></span>
        </div>
        <div *ngIf="line.process===processes.acheat.block.money.max" class="alert alert-danger w-100">
          <span>
          <strong class="red">{{line.player.nickname}} заблокирован за накрутку денег: </strong>
          с {{line.player.motion[1]}}$ до {{line.player.motion[2]}}$</span>
        </div>
      <span *ngIf="line.process===processes.weapons.buy">{{line.player.motion}}</span>
      <span
      *ngIf="line.process===processes.cmd.pre_process">
      <strong>{{line.player.motion[1]}}:</strong>
        {{line.player.motion[3]}}
      </span>
      <div class="w-100" *ngIf="line.process===processes.cmd.ok">
      <ng-template #noadm>
        <span class="text-success">
          <strong>{{line.player.motion[1]}}:</strong>
          {{line.player.motion[3]}}
        </span>
      </ng-template>
      <span *ngIf="line.player.motion[1]=='kick' || line.player.motion[1]=='mute' || line.player.motion[1]=='ban' || line.player.motion[1]=='reconfigure'; else noadm">
        <span class="w-100" *ngIf="line.player.motion[1]=='kick'">
          <span class="badge badge-info mr-1 mt-1 mb-1">КИК</span> {{line.player.motion[3]}}
          <app-special [date]="line.date" [move]="line.player.motion[1]"></app-special>
        </span>
        <span *ngIf="line.player.motion[1]=='reconfigure'">
          <span class="badge badge-info mr-1 mt-1 mb-1">РЕКОНФИГУРАЦИЯ</span> {{line.player.motion[3]}}
          <!-- <button type="button" class="btn btn-outline-info little pt-1 pb-1" name="button"><span>?</span></button> -->
        </span>
        <span class="w-100" *ngIf="line.player.motion[1]=='mute'">
          <span class="badge badge-info mr-1 mt-1 mb-1">МУТ</span> {{line.player.motion[3]}}
          <!-- <button type="button" class="btn btn-outline-info little pt-1 pb-1" name="button"><span>?</span></button> -->
          <app-special [date]="line.date" [move]="line.player.motion[1]"></app-special>
        </span>
        <span *ngIf="line.player.motion[1]=='ban'">
          <span class="badge badge-info mr-1 mt-1 mb-1">БАН</span> {{line.player.motion[3]}}
          <!-- <button type="button" class="btn btn-outline-info  little pt-1 pb-1" name="button"><span>?</span></button> -->
          <app-special [date]="line.date" [move]="line.player.motion[1]"></app-special>
        </span>
      </span>
      </div>
      <span
      *ngIf="line.process===processes.cmd.error.syntax"
      class="text-danger">
        <span class="badge badge-danger mr-1 mt-1">ОШИБКА СИНТАКСИСА</span>
        <strong>{{line.player.motion[1]}}:</strong>
        {{line.player.motion[3]}}
      </span>
      <span
      *ngIf="line.process===processes.cmd.error.process"
      class="text-danger">
        <span class="badge badge-danger mr-1 mt-1">ОШИБКА ПРОЦЕССИНГА</span>
        <strong>{{line.player.motion[1]}}:</strong>
        {{line.player.motion[3]}}
      </span>
      <span *ngIf="line.process===processes.sleep.leave.exit || line.process===processes.sleep.leave.game">
      <strong>AFK</strong> {{line.player.motion | sleep}}</span>
      <span *ngIf="line.process==processes.health.killed || line.process==processes.health.suicided">
        <span *ngIf="line.process==processes.health.suicided">Совершил суицид: </span>
        {{line.player.motion}}
      <img class="d_reason" src="../assets/reasons/Weapon-{{line.player.motion | deathReasons}}.gif" /></span>
      <span *ngIf="line.process===processes.cmd.pre_error.antiflood">
      {{line.player.motion}}</span>
      <span class="mt-1" [ngClass]="{'badge-warning' : (options.options | async)?.litPm}" *ngIf="line.process===processes.chat.pm">
      <strong>ЛС</strong> игроку {{line.player.motion[0]}}: {{line.player.motion[1]}}</span>
      <span [ngClass]="{'badge-primary' : (options.options | async)?.litGr}" *ngIf="line.process===processes.chat.group">
      <strong>КЧ {{line.player.motion[0]}}</strong>:
      {{line.player.motion[1]}}</span>
      <span class="mt-1" [ngClass]="{'badge-primary' : (options.options | async)?.litAdm}" *ngIf="line.process===processes.chat.admin_chat">
      <span class="badge badge-info mr-1"><strong>АЧ {{line.player.motion[0]}}</strong></span>
      {{line.player.motion[1]}}</span>
      <span *ngIf="line.process===processes.chat.close">
      <strong>В ближний чат {{line.player.motion[0]}}</strong>:
      {{line.player.motion[1]}}</span>
      <span *ngIf="line.process===processes.chat.report">
      <strong> Отправил репорт на игрока {{line.player.motion[0]}}</strong>:
      {{line.player.motion[1]}}</span>
      <div
      class="alert alert-warning mb-1 mt-1 w-100"
      *ngIf="line.process===processes.automute.dictionary.mute || line.process===processes.automute.meaningless.mute || line.process===processes.automute.dictionary.no_mute || line.process===processes.automute.meaningless.no_mute">
        <span>
          <strong>ИГРОК
            <span *ngIf="line.process===processes.automute.dictionary.no_mute || line.process===processes.automute.dictionary.no_mute || line.process===processes.automute.meaningless.no_mute">НЕ БУДЕТ</span>
             ЗАГЛУШЕН
            <span *ngIf="line.process===processes.automute.dictionary.mute">по словарю</span>
            <span *ngIf="line.process===processes.automute.meaningless.mute">за флуд</span>
          </strong>
          <span *ngIf="line.process===processes.automute.dictionary.mute">
            <br><kbd class="mr-1">{{line.player.motion[0]}} минут</kbd>
              За фразу: <em>{{line.player.motion[3]}}</em>
          </span>
          <span *ngIf="line.process===processes.automute.meaningless.mute">
            <br><kbd class="mr-1">{{line.player.motion[0].split(' ')[2]}} минут</kbd>
              За фразу: <em>{{line.player.motion[1]}}</em>
          </span>
          <span *ngIf="line.process===processes.automute.dictionary.no_mute">
            <br><kbd class="mr-1">Предупреждение</kbd>
            За фразу: <em><{{line.player.motion[3]}}</em>
          </span>
        </span>
      </div>
      <app-geoseries *ngIf="line.player.geo && (line.process!==processes.connection.disconnect.ban &&  line.process!==processes.connection.disconnect.kick &&  line.process!==processes.connection.disconnect.rconkickban)" [geoseries]="line.player.geo"></app-geoseries>
    </div>
  </div>
</div>
