<div class="jumbotron pt-4 pb-2 mt-1 mr-3 mb-1 d-flex overflow-auto align-content-between flex-wrap" [ngStyle]="{'height': (innerHeight - 61) + 'px'}">
  <div class="d-flex flex-column w-100">
    <h3 class="lead">Paralogs - программа для парсинга логов сервера Paradise</h3>
    <span>
      <a class="mr-3" href="javascript:void(0)" (click)="help = help?false:true; license=false">Помощь</a>
      <a href="javascript:void(0)" (click)="license = license?false:true; help=false">Лицензия</a>
    </span>
    <div class="d-flex overflow-auto flex-column mb-0">
      <p>
        <span>
            <samp *ngIf="license">
              Данная лицензия разрешает лицам, получившим копию данного программного обеспечения и сопутствующей документации (в дальнейшем именуемыми «Программное Обеспечение»), безвозмездно использовать Программное Обеспечение без ограничений, включая неограниченное право на использование, копирование, изменение, слияние, публикацию, распространение, сублицензирование и/или продажу копий Программного Обеспечения, а также лицам, которым предоставляется данное Программное Обеспечение, при соблюдении следующих условий:

              Указанное выше уведомление об авторском праве и данные условия должны быть включены во все копии или значимые части данного Программного Обеспечения.

              ДАННОЕ ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ПРЕДОСТАВЛЯЕТСЯ «КАК ЕСТЬ», БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ ГАРАНТИИ ТОВАРНОЙ ПРИГОДНОСТИ, СООТВЕТСТВИЯ ПО ЕГО КОНКРЕТНОМУ НАЗНАЧЕНИЮ И ОТСУТСТВИЯ НАРУШЕНИЙ, НО НЕ ОГРАНИЧИВАЯСЬ ИМИ. НИ В КАКОМ СЛУЧАЕ АВТОРЫ ИЛИ ПРАВООБЛАДАТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ПО КАКИМ-ЛИБО ИСКАМ, ЗА УЩЕРБ ИЛИ ПО ИНЫМ ТРЕБОВАНИЯМ, В ТОМ ЧИСЛЕ, ПРИ ДЕЙСТВИИ КОНТРАКТА, ДЕЛИКТЕ ИЛИ ИНОЙ СИТУАЦИИ, ВОЗНИКШИМ ИЗ-ЗА ИСПОЛЬЗОВАНИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ИЛИ ИНЫХ ДЕЙСТВИЙ С ПРОГРАММНЫМ ОБЕСПЕЧЕНИЕМ.
            </samp>
            <div *ngIf="help" class="col-12 mt-2">
              <div class="row">
                <p>
                  <span>Загрузите лог, нажав на кнопку "Открыть лог" в верхнем правом углу окна, чтобы приступить к работе. После того, как лог был успешно загружен, можно начать поиск по нескольким из доступных параметров:</span>
                </p>
                <p>
                  <span> Чтобы осуществить поиск по никнейму можно ввести тэг или часть ника. Поисковой запрос должен состоять не менее чем из 3-х символов.<br>
                    <strong>Например: </strong> при вводе тэга <kbd>CoE</kbd>, выведет все ники, где использовался этот тэг.
                    <br>
                    Можно даобавить сразу несколько ников в поиск (максимум 3), если ввести их через символ <kbd>&</kbd>.
                    <br>
                    <strong>Например: </strong><kbd>Shimmer&clrc</kbd> выведет все результаты где были найдены Shimmer и clrc.
                  </span>
                </p>
                <p>
                  <span>Поиск по серийному номеру HD или SM производится с добавлением  в начале строки префикса <kbd>hd:</kbd> или <kbd>sm:</kbd> соответственно.
                    <strong>Например: </strong> <kbd>hd:0a63fb96118526ae31c439365cd64010</kbd></span>
                  </p>
                    <p>
                      <span>Быстрое отображение лога античита производится с помощью префикса <kbd>acheat:</kbd> в начале строки или комбинацией клавиш <kbd>Alt + A</kbd>.</span>
                    </p>
                      <p>
                        <span>Префикс <kbd>full:</kbd> или комбинация клавиш <kbd>Alt + F</kbd>. отобразит весь лог в упрощенном виде. Для удобства на одной странице отображается не более 1000 строк. Переключение между страницами производится с помощью навигации над выведенной таблицей или с помощью комбинации клавиш <kbd>Ctrl + &#8592;</kbd> и <kbd>Ctrl + &#8594;</kbd> на клавиатуре.</span><br>
                      </p>
                      <p>
                        <span>Отображение лога входа админов с помощью префикса <kbd>adm:</kbd> в начале строки или комбинацией клавиш <kbd>Alt + D</kbd>.</span>
                      </p>
                    </div>
                  </div>
                </span>
              </p>
            </div>
          </div>
            <p>
              <span>Данное ПО распространяется по лицензии MIT. Copyright (c) 2019 Shimmer</span><br>
              <span>Версия: paralogs 0.9.8
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                <g>
                  <path d="M13.4,53.5H3.6l9.9-7.8l-0.1-27.9l-9.8-7.3h9.8h13.9c5.3,0,8.7,0.2,10.3,0.6c2.5,0.6,4.5,2,6.2,4.2
                  c1.7,2.2,2.5,4.9,2.5,8.4c0,2.6-0.5,4.9-1.4,6.7c-1,1.8-2.2,3.2-3.7,4.2c-1.5,1-3,1.7-4.5,2c-2.1,0.4-5.1,0.6-9,0.6h-3.6v16.2H13.4
                  z M24.1,17.8V30h2.7c3.4,0,5.7-0.2,6.9-0.7c1.2-0.4,2.1-1.2,2.7-2.1c0.7-1,1-2.1,1-3.3c0-1.6-0.5-2.9-1.4-3.9
                  c-0.9-1-2.1-1.7-3.5-1.9c-1-0.2-3.1-0.3-6.2-0.3H24.1z"/>
                </g>
                <g>
                  <path d="M29.5,53.5l9.9-7.8H49V10.5h10.6v43H29.5z"/>
                </g>
              </svg>
            </span>
          </p>
        </div>
