span, .hdtable {
  font-size: 12px;
}
.logswitch {
  font-size: 13px;
}
.shrinked {
  font-size: 14px;
  line-height: 13px;
}
.hdtable {
  table {
    margin-bottom: 0px;
  }
}
// .topper {
//   position: fixed;
//   top: 48px;
//   height: 45px;
//   background: #fff;
//   border-bottom: 1px solid #dfdfdf;
// }
nav {
  border-bottom: 1px solid #dfdfdf;
  ul {
    margin-bottom: 0.6em;
    li {
      cursor: pointer;
      a {
        font-size: 12px;
      }
    }
  }
  .active {
    background: #303030!important;
    color: #ffffff!important;
  }
  .page-link {
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
  }
}
.tabfull {
  // margin-right: -15px;
}
.fulllog {
  margin-top: -1px;
  thead, tbody {
    tr {
      td, th {
        font-size: 12px!important;
        u {
          cursor: pointer;
        }
      }
    }
  }
}
