<table class="table table-striped table-borderless">
  <tbody>
    <tr>
      <th scope="row">IP</th>
      <td>{{geoseries.ip}}</td>
    </tr>
    <tr>
      <td><strong>Серийный номер AS :</strong> {{geoseries.as}}</td>
      <td>
        <strong>Серийный номер SS :</strong> {{geoseries.ss}}
      </td>
    </tr>
    <tr *ngIf="geoseries.hd">
      <th scope="row">HD</th>
      <td><a routerLink="/hd:{{geoseries.hd}}">{{geoseries.hd}}</a></td>
    </tr>
    <tr *ngIf="geoseries.sm">
      <th scope="row">SM</th>
      <td><a routerLink="/sm:{{geoseries.sm}}">{{geoseries.sm}}</a></td>
    </tr>
    <tr>
      <th scope="row">Язык</th>
      <td>{{geoseries.cc}}</td>
    </tr>
    <tr>
      <th scope="row">Город</th>
      <td>{{geoseries.city}}</td>
    </tr>
    <tr>
      <th scope="row">Провайдер</th>
      <td>{{geoseries.org}}</td>
    </tr>
    <tr *ngIf="geoseries.s">
      <th scope="row">Разрешение экрана</th>
      <td>{{geoseries.s}}</td>
    </tr>
    <tr>
      <th scope="row">Группа</th>
      <td>{{geoseries.g}}</td>
    </tr>
    <tr>
      <th scope="row">Версия клиента</th>
      <td>{{geoseries.c}}</td>
    </tr>
  </tbody>
</table>
