<table class="table table-striped table-borderless">
  <tbody>
    <tr>
      <th scope="row">IP</th>
      <td>{{geoseries[1]}}</td>
    </tr>
    <tr>
      <td><strong>Серийный номер AS :</strong> {{geoseries[2]}}</td>
      <td>
        <strong>Серийный номер SS :</strong> {{geoseries[6]}}
      </td>
    </tr>
    <tr>
      <th scope="row">HD</th>
      <td><a routerLink="/hd:{{geoseries[8]}}">{{geoseries[8]}}</a></td>
    </tr>
    <tr>
      <th scope="row">SM</th>
      <td><a routerLink="/sm:{{geoseries[9]}}">{{geoseries[9]}}</a></td>
    </tr>
    <tr>
      <th scope="row">Язык</th>
      <td>{{geoseries[3]}}</td>
    </tr>
    <tr>
      <th scope="row">Город</th>
      <td>{{geoseries[4]}}</td>
    </tr>
    <tr>
      <th scope="row">Провайдер</th>
      <td>{{geoseries[5]}}</td>
    </tr>
    <tr>
      <th scope="row">Разрешение экрана</th>
      <td>{{geoseries[17]}}</td>
    </tr>
    <tr>
      <th scope="row">Группа</th>
      <td>{{geoseries[18]}}</td>
    </tr>
    <tr>
      <th scope="row">Версия клиента</th>
      <td>{{geoseries[19]}}</td>
    </tr>
  </tbody>
</table>
